<div class="row">
  <h3 class="col s12 title"><%= link_to @post.title, @post.url %></h3>
</div>

<div class="row">
  <div class="col s8 body">
    <% if @post.text_post? %>
    <div class="container body selftext">
      <%= @post.decode_text.html_safe %>
    </div>
    <% end %>
    <p id="author"> <%= @post.author %></p>
    <div class="comments">
      <p id="comments"><%= "#{@post.num_comments} comments" %></p>
      <% @post.comments.each do |comment| %>
        <%= create_nested_comments(comment) %>
      <% end %>
    </div>
  </div>

  <div class="col s3 offset-s1 rules">
    <h4><%= @subreddit.url %></h4>
    <p><%= @subreddit.description %></p>
  </div>
</div>
