<div class="row">
  <h1 class="col s12"><%= @subreddit.title %></h1>
</div>

<div class="row">
  <div class="col s8 posts">
    <h4>Hot Posts</h4>
    <% @subreddit.posts.each do |post| %>
    <div>
      <h5><%= post.score %>  <%= link_to post.title, subreddit_post_path(@subreddit.title, post.id) %></h5>
      <p><%= post.author %> <%= "#{post.num_comments} comments" %></p>
    </div>
    <% end %>
  </div>

  <div class="col s3 offset-s1 rules">
    <h4><%= @subreddit.url %></h4>
    <p><%= @subreddit.description %></p>
    <h5>Rules</h5>
    <% @subreddit.rules.each do |rule| %>
    <p>[*] <%= rule.content %></p>
    <% end %>
  </div>
</div>
